<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>User</title>-->
<!--</head>-->
<!--<body>-->
<!--<p th:text="${user.getId()}"></p>-->
<!--<p th:text="${user.getName()}"></p>-->
<!--<p th:text="${user.getLastname()}"></p>-->
<!--<p th:text="${user.getUsername()}"></p>-->
<!--<p th:text="${user.getPassword()}"></p>-->
<!--<p>-->
<!--    <th:block th:each="rol : ${user.getRoles()}" th:text="${rol.getName() + ' ' }"/>-->
<!--</p>-->
<!--<a th:href="@{/admin/users}">Go Back</a>-->
<!--<br/>-->
<!--<a th:href="@{/admin/users/{id}/edit(id=${user.getId})}">Edit</a>-->
<!--<form th:method="DELETE" th:action="@{/admin/users/{id}(id=${user.getId})}">-->
<!--    <input type="submit" value="Delete"/>-->
<!--</form>-->
<!--<form th:action="@{/logout}" method="post">-->
<!--    <button type="submit">Logout</button>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Details</title>
</head>
<body>
<h1>User Details</h1>
<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>Username</th>
        <th>Password</th>
        <th>Roles</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getLastname()}"></td>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getPassword()}"></td>
        <td>
            <th:block th:each="rol : ${user.getRoles()}" th:text="${rol.getName() + ' '}"></th:block>
        </td>
    </tr>
    </tbody>
</table>
<br/>
<a th:href="@{/admin/users}">Go Back</a>
<br/>
<a th:href="@{/admin/users/{id}/edit(id=${user.getId()})}">Edit</a>
<form th:method="DELETE" th:action="@{/admin/users/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>
<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>
</body>
</html>